@import "base/base";

.hero-background-img {
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.section-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  .heading {
    p {
      font-weight: 500;
      font-size: 1.2rem;
      text-align: center;
    }
    .line {
      width: 50px;
      height: 1px;
      margin: 0 20px;
      background-color: var(--text-color);
      opacity: 0.5;
    }
  }

  .section-exp {
    font-size: 0.9rem;
    opacity: 0.5;
    margin-top: 5px;
    text-align: center;
  }
}

.hero-background-img.left {
  left: 0;
}

.background-color {
  background-color: var(--background);
}

header {
  background-color: var(--background);
  padding-top: 20px;
  width: 100%;

  .header-section {
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;

    .logo-con {
      img {
        width: 40px;
      }

      .name-text {
        font-weight: 500;
        margin-left: 20px;
      }
    }

    .mobile {
      display: none;
    }

    nav {
      transition: all 0.5s ease-in-out;
      .close-nav {
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
        display: none;
        border: 2px solid var(--text-color);
        padding: 5px;
        cursor: pointer;
        opacity: 0.6;
      }
      ul {
        list-style-type: none;
        gap: 40px;
        font-weight: 400;

        a {
          text-decoration: none;
          color: var(--text-color);
          font-size: 0.9rem;
        }

        .contact-us-btn {
          padding: 10px;
          border-radius: 10px;
          outline: none;
          background-color: transparent;
          font-weight: 500;
          border: 1.5px solid var(--text-color);
          color: var(--text-color);
        }
      }
    }
  }
}

main {
  width: 100%;
}

.hero-section {
  width: 100%;
  background-color: var(--background);
  position: relative;
  padding-bottom: 20px;

  .section-con {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;

    h1 {
      font-size: 6rem;
      font-weight: 900;
      text-align: center;
      z-index: 2;
    }

    .hero-exp {
      width: 90%;
      max-width: 500px;
      text-align: center;
      margin-top: 10px;
      opacity: 0.5;
      font-size: 0.9rem;
      line-height: 1.7;
    }

    .buttons-con {
      margin-top: 20px;

      button {
        padding: 20px;
        outline: none;
        border: none;
        border-radius: 5px;
        font-weight: 500;
        background-color: transparent;
        cursor: pointer;
      }

      .get-quotation-button {
        background-color: var(--bright-yellow);
      }
    }

    .statistics-container {
      margin-top: 70px;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

      .stat {
        margin: 20px;
        .number {
          font-weight: 600;
        }

        .stat-name {
          font-size: 0.9rem;
          opacity: 0.5;
        }
      }

      .people-stat {
        .people-con {
          margin: 0 20px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin: 0 -10px;
          }
        }
      }
    }
  }
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .projects-container {
    margin-top: 40px;
    overflow-x: scroll;
    width: 100%;
    .project {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      img {
        width: 350px;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .project-name {
        font-weight: 500;
        font-size: 1.1rem;
        margin-top: 10px;
      }

      .project-description {
        font-size: 0.9rem;
        opacity: 0.6;
        color: var(--text-color);
        margin-top: 5px;
      }
    }
  }
}

.about-us-section {
  margin-top: 50px;
  width: 100%;

  .section-bold-text {
    text-align: center;
    font-weight: 800;
    color: var(--text-color);
  }

  .happy-customer-showcase {
    width: 100%;

    .left {
      width: 50%;

      img {
        width: 60%;
      }
    }

    .ceo-comment-container {
      width: 50%;
      background-color: #f6f6f6;
      padding: 50px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;

      .ceo-comment-txt {
        font-size: 1.3rem;
        line-height: 1.5;
      }

      .ceo-comment-det {
        margin-top: 10px;
        gap: 5px;
        .line {
          width: 30px;
          height: 1px;
          background-color: var(--text-color);
        }

        .ceo-name {
          font-weight: 500;
        }

        .ceo-pos {
          font-size: 0.8rem;
          opacity: 0.5;
        }
      }

      svg {
        width: 30px;
        height: 30px;
        align-self: flex-end;
        fill: #e1e2e3;
      }
    }
  }

  .about-auspicious {
    width: 100%;
    .left {
      width: 50%;
      .top-left {
        .line {
          width: 60px;
          height: 1px;
          background-color: var(--bright-yellow);
        }

        p {
          margin-left: 10px;
          font-weight: 500;
          opacity: 0.7;
        }
      }

      .left-body {
        margin-top: 20px;

        .left-body-title {
          font-size: 1.2rem;
          font-weight: 800;
          font-family: "Poppins", sans-serif;
        }

        .exp {
          font-size: 0.9rem;
          opacity: 0.4;
          line-height: 1.7;
          margin-top: 5px;
        }
      }
    }

    .right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;

      padding: 20px;

      .service {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 20px;

        .service-number-con {
          width: 10%;
        }
        .service-number {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: #e1e3e4;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .service-body {
          margin-left: 20px;
          max-width: 500px;
          width: 90%;

          font-family: "Poppins", sans-serif;

          h2 {
            font-size: 1.2rem;
          }

          p {
            font-size: 0.9rem;
            opacity: 0.5;
            margin-top: 2px;
            line-height: 1.6;
          }
        }
      }
    }
  }
}

.what-people-say-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;

  .body-con {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: scroll;

    .first {
      min-width: 170px;
      .top-txt {
        font-weight: 600;
        font-size: 1.2rem;
      }

      .bottom-txt {
        font-size: 0.9rem;
        font-style: italic;
        margin-top: 3px;
        opacity: 0.6;
      }
    }

    .comments-container {
      display: flex;
      flex-direction: row;
    //   margin-left: 100px;
      gap: 30px;

      .comment {
        width: 300px;
        .top {
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            object-position: center;
            border-radius: 50%;
          }

          .top-right {
            display: flex;
            flex-direction: column;
            margin-left: 10px;

            .commentator-name {
              font-weight: 500;
            }

            .commentator-position {
              opacity: 0.5;
              font-size: 0.9rem;
            }
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          margin-top: 10px;

          .comment {
            opacity: 0.5;
            font-size: 0.9rem;
            line-height: 1.6;
          }

          .stars-container {
            margin-top: 10px;
            gap: 10px;

            svg {
              fill: #f1b67d;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: var(--text-color);
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: row;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 60px;

  .col {
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    padding-top: 20px;
    padding-bottom: 20px;
    p,
    a {
      color: white;
    }

    .col-body {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      flex-direction: column;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-size: 0.85rem;
      }
    }
  }

  .col-one {
    .txt-subscribe {
      color: white;
      font-weight: 500;
    }

    .newsletterform {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin-top: 10px;
      input[type="text"] {
        background-color: white;
        outline: none;
        border: none;
        padding: 10px;
        height: 40px;
      }

      button {
        background-color: var(--primary);
        outline: none;
        border: none;
        padding: 10px;
        height: 40px;
        svg {
          width: 20px;
          height: 20px;
          fill: white;
        }
      }
    }

    .logo-img {
      width: 50px;
      margin-top: 15px;
    }

    .txt-contact {
      font-size: 0.9rem;
      margin-top: 30px;
    }

    .contact-details-container {
      margin-top: 10px;
      .detail-p {
        margin: 5px 0;
        font-size: 0.85rem;
      }
    }

    .txt-copyright {
      font-size: 0.85rem;
      margin-top: 40px;
    }
  }
}

@import "media";
