:root{
    --background: #EBEDE7;
    --text-color: #142032;
    --bright-yellow: #F2C743;
    --soft-red: #EC6249;
    --soft-grey: #8A9099;
    --generic-grey: #f4f4f3;
    --light-red-01: #F2E4DF;
    --main-green: #355E2D;
}